{% extends 'base.html' %}
{% load static %}
{% block title %}Booking Confirmation | Caldwell Cosmetics{% endblock %}

{% block hero %}

<!-- Hero image section -->
<section class="hero" id="home-hero">
    <div class="container-fluid p-0 position-relative">
        <img src="{% static 'images/bookings-hero.jpg' %}" class="img-fluid" alt="An open diary with a gold binder">
        <!-- Transparent tinting -->
        <div class="color-overlay"></div>
            <div class="position-absolute top-50 start-50 translate-middle text-center text-white hero-text-md">
                <h2 id="home-cover-heading">Caldwell Cosmetics</h2>
                <h3 id="est-tag">Est.2024</h3>
            </div>
    </div>
</section>

{% endblock %}

{% block content %}

<div class="row booking-confirmation">
    <h2>Booking Confirmed</h2>
    <p>Thank you for your booking, {{ booking.user.username }}!</p>
    <p>Booking ID: {{ booking.id }}</p>
    <p>Appointment Date: {{ booking.appointment.date }}</p>
</div>

{% endblock %}