{% extends 'base.html' %}
{% load static %}
{% block title %}Make A Booking | Caldwell Cosmetics{% endblock %}

{% block hero %}

<!-- Hero image section -->
<section class="hero" id="home-hero">
    <div class="container-fluid p-0 position-relative">
        <img src="{% static 'images/home-hero.jpg' %}" class="img-fluid" alt="Image showing x">
        <!-- Transparent tinting -->
        <div class="color-overlay"></div>
            <div class="position-absolute top-50 start-50 translate-middle text-center text-white hero-text-md">
                <h2 id="home-cover-heading">Caldwell Cosmetics</h2>
                <h3 id="est-tag">Est.2024</h3>
            </div>
    </div>
</section>

{% endblock %}

{% block content %}
<section class="booking-page">
    <h2>Book Your Appointment</h2>
    <div class="row">
        <div class="col-12 book-your-appointment">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 booking-calendar">
            <div id="calendar"></div>
            <!-- FullCalendar JS -->
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
            <!-- Custom JS -->
            <script src="{% static 'js/calendar.js' %}"></script>
        </div>
    </div>
</section>

{% endblock %}