/* Colour References

    Background colours:

    Body background: rgb(255, 251, 249); Off-White
    Body background: rgb(253 247 245); Cream
    Hero image tint overlay: rgba(95, 95, 95, 0.4);
    Accent (peach): ##eed6c2;

    ----------------------

    Font Colours:
    Dark Brown: color: #302321; (also used for social media links)

    Button Colours:
    Subscribe border: solid #9e754e;
    Subscribe background-color: #c09061;






*/

/* Wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(253 247 245);
    font-size: 14px;
}

/* Heading styles */
h2, h3, h4, h5, h6 {
    color: black;
    text-transform: uppercase;
}

.small-hr {
    border: 1px solid rgba(0, 0, 0, 0.5); /* Add transparency to the border color */
    width: 80%;
    margin: 0 auto;
}

/* Style to hide unwanted headings */
.hidden-heading {
    display: none;
}

.hidden-cover-text {
    display: none;
}

/* Style to remove underline from hyperlinks */
a {
    text-decoration: none;
}

/* -----------------------------------Navigation bar styles */

/* Styles for the navbar container */
.navbar-container {
    background-color: transparent;
    padding-top: 0!important;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
    height: auto;
    width: 100%;
}

/* Style for the logo link in navbar */
.logo-link>img {
    max-width: 80px;
    max-height: 40px;
}

/* Styles for the navbar button icon to override Bootstrap */
.navbar-toggler {
    background-color: #eed6c280;
}

/* Styles for the navbar dropdown items */
#navbarNav>ul {
    display: flex;
    text-align: right;
}

#navbarNav>ul a {
    color: #eed6c2;
    text-transform: uppercase;
    padding-right: 0.3em;
}

.active {
    color: #e09e67!important;
    text-decoration: underline;
    font-size: 18px;
}

.sign-up a {
    color: #fff;
}

/* ------------------------------------------------Hero section */
.hero {
    width: 100%;
    height: 100%;
    position: relative;
}

.color-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 95, 0.4);
}


/* Colour overlay to dim the background image */
.color-overlay::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(95, 95, 95, 0.4);
    margin: 0;
    display: block;
    height: auto;
    width: 100%;
}

.cover-text {
    letter-spacing: 0.4mm;
    text-transform: uppercase;
    color:#e9e9e9;
}

#est-tag {
    font-size: 70%;
    color: azure;
    padding-bottom: 2em;
}

#home-cover-heading, #treatments-cover-heading, #bookings-cover-heading, #contact-cover-heading {
    margin-top: 0.5em;
    padding-top: 0.5em;
    font-size: 2.1em;
    font-weight: 400;
    letter-spacing: 2mm;
    color: #bebebe;
    text-shadow:5px 7px 0 #313131;
}

/* -----------------------------------------------Scrolling text styles */

/* Styles for the scroll container */ 
#scroll-container {
    border-bottom: 3px groove #ecd2be9a;
    width:100%;
    padding: 5px 10px;
    overflow: hidden;
    white-space: nowrap;
}

#scroll-text {
  /* Set the initial position of the text for the animation */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  /* Set the animation properties */
  -moz-animation: my-animation 27s linear infinite;
  -webkit-animation: my-animation 27s linear infinite;
  animation: my-animation 27s linear infinite;
}

/* Define the animation keyframes for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* Define the animation keyframes for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

/* Animation keyframes */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(200%); }
    to { -moz-transform: translateX(-200%); }
  }
  
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(200%); }
    to { -webkit-transform: translateX(-200%); }
  }
  
  @keyframes my-animation {
    0% {
      -moz-transform: translateX(200%);
      -webkit-transform: translateX(200%);
      transform: translateX(200%);
    }
  
    50% { 
      -moz-transform: translateX(-200%);
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
    }
  
    100% {
      -moz-transform: translateX(200%);
      -webkit-transform: translateX(200%);
      transform: translateX(200%);
    }
  }

/* Style to push main content to fill page */
main {
    flex: 1 0 auto;
}

/* ------------------------------------------Home page content */

/* ------------------------------------------About */

.about {
    padding: 2em 0;
    text-align: center;
    margin: 0 2.5%;
}

.about>div>div>h2 {
    font-size: 90%;
    padding-bottom: 0.5em;
    letter-spacing: 0.7mm;
}

.page-divider {
    border: 2px solid black;
    margin: 0px 12rem;
}

/* ------------------------------------------Google Maps */

#maps {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#maps h2 {
    text-align: center;
    font-size: 100%;
    letter-spacing: 0.7mm;
}

/* ------------------------------------------Treatments */

.treatments h2.text-uppercase {
    font-size: 90%!important;
    padding-bottom: 0.5em!important;
    letter-spacing: 0.7mm!important;
    text-align: center;
}

#about-treatments img {
    border-radius: 25px;
}

.treatment-item {
    margin-bottom: 10px;
}

.treatment-item h4 {
    margin-bottom: 0px;
}

.bottom-overlay {
    position: relative;
    margin-top: -52px;
    text-align: center;
    background-color:#313131ea; /* Background color with opacity */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-bottom: 10px; /* Adjust padding as needed */
}

.bottom-overlay > h6 {
    color: #fff;
    vertical-align: middle;
    padding-top: 15px;
}

/* ---------------------------------------------Footer Content */

.footer-main {
    background-color:#eed6c2;
    width: 100%;
    left: 0;
    bottom: 0;
    position: relative;
    margin-top: 10px;
    border-top: 2px ridge black;
}

.footer-main h6 {
    font-size: 8px;
    font-weight: 700;
}

/* Background image for the footer */

#footer-background-image {
    position: relative; /* Required to position the pseudo-element */
    z-index: 1;
}

#footer-background-image::before {
    content: "";
    position: absolute;
    background-image:url(../images/footer-overlay.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
}

/* Style for back-to-top class */
.back-to-top {
    text-align: center;
    position: sticky;
    bottom: 0;
    /* Stick to the bottom of the viewport */
    padding-top: 2px;
    margin-bottom: 0;
    font-size: 120%;  
}

.back-to-top a {
    color: #302321; 
}

.back-to-top a:hover {
    color:rgb(221, 189, 102);
}

/* Styles for the subscribe to newsletter section */

.subscribe-newsletter h2 {
    font-size: 14px;
}

#email-newsletter-help {
    padding-left: 5px;
}

/* -------------------------------------Social media links */

.social-networks {
    padding-top: 10px;
    margin: 5px 4%;
}

.social-networks>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px!important;
}

.social-networks li {
    text-align: center;
}

.social-networks a {
    font-size: 32px;
    color: #302321;
}

/* Footer address styles */

#footer-box {
    padding-top: 0.5%;
    padding-bottom: 1%;
}

#footer-address {
    color: #302321;
    letter-spacing: .5mm;
    font-size: 80%;
}

#footer-address p {
    margin: 0.1rem;
    font-size: 8px;
}

#footer-directions {
    color: #302321;
    font-size: 32px;
    padding-top: 30px;
}

#footer-directions a>i {
    color: #302321;
    font-size: 30px;
}

#footer-directions p {
    text-align: center;
}

.footer-contact p {
    font-size: 12px;
    margin-bottom: 2px;
}

#footer-contact-links {
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.footer-contact a {
    font-size: 8px;
    margin-bottom: 2px;
}

.small-print {
    font-size: 60%;
    color: #302321;
    padding-bottom: 10px;
}

/* ------------------------Modal Container */

.modal {
    display: none; 
    position: fixed; 
    z-index: 9999!important; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-backdrop.show {
    z-index: 1040;
}

.modal-dialogue {
    z-index: 9999;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
    text-align: center;
    z-index: 9999;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Buttons */
button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#accept {
    background-color: #4CAF50; 
    color: white;
}

#decline {
    background-color: #f44336; 
    color: white;
}


/* ---------------------------------------------Media queries */

/* Unique to tablets to ensure grey background doesn't transfer with the rest of the accumilitive styles */
@media (min-width: 768px) and (max-width: 1199.98px){
    .md-lg-treatments {
        background-color: rgba(95, 95, 95, 0.1);
        border-radius: 10px;
        padding: 30px;
    }
}

/* -------------------------------------Medium devices such as tablets in landscape mode or small laptops (768px and up) */
@media screen and (min-width: 768px) {

    /* -----------------------------------Navigation bar styles */

    .logo-link>img {
        max-height: 75px;
        max-width: 75px;
        padding-top: 5px;
    }

    .active {
        background-color: rgba(95, 95, 95, 0.4);
        border-radius: 5px;
    }

    #navbarNav>ul a {
        font-size: large;
    }

    /* ------------------------------------------Hero image content */

    .hero > div {
        max-height: 28.125rem;
    }

    .hero > div > img {
        max-height: 28.125rem;
        width: 100%;
    }

    #home-cover-heading {
        font-size: 3em;
        letter-spacing: 5mm;
        padding-top: 30px;
        text-shadow:8px 10px 0 #313131;
    }

    .cover-text {
        padding-top: 20px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5mm;
    }

    .cover-text-md {
        letter-spacing: 0.4mm;
        padding-top: 10px;
        text-transform: capitalize;
        font-style:italic;
        font-weight: 300;
        color:#e9e9e9;
        margin: 0px -50px;
    }

    /* -----------------------------------------------Scrolling text styles */

    #scroll-text {
        font-size: 16px;
        /* Set the animation properties */
        -moz-animation: my-animation 40s linear infinite;
        -webkit-animation: my-animation 40s linear infinite;
        animation: my-animation 40s linear infinite;

      }

    /* ------------------------------------------About */

    .about>div>div>h2 {
        font-size: 18px;
    }


    .about>div>div>p {
        font-size: 16px;
    }

    /* ---------------------------------------Google Maps */    

    #maps h2 {
        text-align: center;
        font-size: 100%;
        letter-spacing: 0.7mm;
    }

    /* ------------------------------------------Treatments */

    .treatment-item {
        vertical-align: middle;
        margin-bottom: 20px;
    }

    .treatment-item img {
        border-radius: 15px;
        margin-right: 0!important;
        padding-right: 0!important;
    }

    .treatment-item small {
        font-size: 16px;
    }

    .md-treatments img {
        width: 100%;
        height: auto;
        display: block;
    }

    /* ---------------------------------------Footer styles */

    .back-to-top {
        padding-bottom: 10px;
        font-size: 32px;
    }

    /* -------------------------------Subscribe row */
    
    .subscribe-newsletter {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
        width: 100%;
        align-items: center;
    }

    .subscribe-newsletter h2 {
        font-size: 18px;
    }

    .subscribe-newsletter h2 {
        margin-bottom: 8px!important;
    }

    #email-newsletter-help {
        font-size: 16px;
        padding-left: 6px;
    }

    #newsletter-sign-up {
        margin-bottom: 20px;
    }

    /* -------------------------------Social media links */

    .social-networks {
        font-size: 16px;
    }

    /* -------------------------------Address column */

    #footer-address h6 {
        margin-bottom: 0.2rem;
        font-size: 1rem;
    }
    
    #footer-address p {
        margin: 0.1rem;
        font-size: 1rem;
    }

    /* -------------------------------Directions column */
    
    #footer-directions a>i {
        color: #302321;
        font-size: 40px;
    }


    /* -------------------------------Contact column */

    .footer-contact p {
        font-size: 20px;
        margin-bottom: 2px;
    }
    
    #footer-contact-links {
        padding: 0;
    }
    
    .footer-contact a {
        font-size: 16px;
        margin-bottom: 2px;
    }
}

/* -------------------------------------Large devices such as laptops and small desktops (1024px and up) */
@media screen and (min-width: 1024px) {

    body {
        align-items: center;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .logo-link>img {
        max-height: 75px;
        max-width: 75px;
    }

    .hero > div {
        max-height: 35rem;
    }

    .hero > div > img {
        max-height: 35rem;
        width: 100%;
    }

    #home-cover-heading {
        font-size: 4em; 
        letter-spacing: 10mm;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #est-tag {
        color: transparent;
    }

    .cover-text {
        margin: 0px -50px;
        padding-bottom: 100px;
    }

    #scroll-text {
        font-size: 20px;
        font-weight: 600;
        /* Set the animation properties */
        -moz-animation: my-animation 50s linear infinite;
        -webkit-animation: my-animation 50s linear infinite;
        animation: my-animation 50s linear infinite;
    }

    .about>div>div>h2 {
        font-size: 22px;
    }


    .about>div>div>p {
        font-size: 28px;
    }


    .gmap_canvas iframe {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .treatment-item {
        margin-bottom: 40px;
    }

    .treatment-item>div>div>div>p {
        font-size: 16px;
    }

    .back-to-top {
        font-size: 46px;
    }

    .subscribe-newsletter {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
        width: 100%;
    }

    .subscribe-newsletter h2 {
        font-size: 20px;
    }

    .subscribe-newsletter h2 {
        margin-bottom: 8px!important;
    }

    #email-newsletter-help {
        font-size: 16px;
        padding-left: 6px;
    }

    /* ---------------------------------------Footer styles */

    #footer-box {
        margin-left: 30px;
        margin-right: 30px;
        width: 100%;
    }
}

/* -------------------------------------Larger devices such as large desktops (1280px and up) */
@media screen and (min-width: 1280px) {

    .logo-link>img {
        max-height: 110px;
        max-width: 110px;
    }

    .hero > div {
        min-height: 40rem;
        max-height: 50rem
    }

    .hero > div > img {
        min-height: 40rem;
        max-height: 50rem;
        width: 100%;
    }

    #home-cover-heading {
        font-size: 5em;
        letter-spacing: 10mm;
        padding-top: 20px;
        padding-bottom: 50px;
        text-shadow:12px 14px 0 #313131;
    }

    #est-tag {
        color: transparent;
    }

    .cover-text {
        margin: 0px -50px;
        padding-bottom: 150px;
        font-size: 26px;
    }

    #scroll-text {

        /* Set the animation properties */
        -moz-animation: my-animation 55s linear infinite;
        -webkit-animation: my-animation 55s linear infinite;
        animation: my-animation 55s linear infinite;
    }

    .about {
        font-size: 24px;
    }

    .about div > div > h2 {
        font-size: 32px;
    }

    #maps h2 {
        font-size: 32px;
    }

    .gmap_canvas iframe {
        width: 100%;
        height: 700px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .treatment-item {
        margin-bottom: 80px;
    }

    .treatment-item > div > div p {
        font-size: 20px;
      }


    /* ---------------------------------------Footer styles */

    #footer-box {
        margin-left: 30px;
        margin-right: 30px;
        width: 100%;
    }


}