<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Caldwell Cosmetics. A natural aesthetics clinic, specialising in skin and hair enhancement and rejuvenation. Based in Abergele, North Wales. Restore the beauty from within.">
    <meta name="keywords" content="caldwell cosmetics aesthetics, caldwell cosmetics, aesthetic clinic, skin treatments, beauty, wales, natural, healthy, skin">

    {% load static %}

    <!-- Browser title and favicon -->
    <title>{% block title %}Caldwell Cosmetics{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'favicon/favicon.ico' %}">
    
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/62f7b1be0a.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-sm navbar-container">
            <div class="container-fluid">
                <a href="/" class="navbar-brand mr-auto logo-link"><img src="{% static 'images/mini-logo.png' %}" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                        <!-- Add other nav items here -->
                    </ul>
                </div>
                <div class="d-none d-md-block sign-up">
                    <button type="button" class="btn btn-dark">
                        <a href="/login" class="text-white text-decoration-none">Sign In / Sign Up</a>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        {% block content %}
        <!-- Page content goes here -->
        {% endblock %}
    </main>

    <footer class="footer-main">
        <div id="footer-background-image">
            <!-- Back to top button -->
            <div class="back-to-top">
                <a href="#" aria-label="Back to the top!" title="Back To Top!">
                    <i class="fa-regular fa-square-caret-up"></i>
                </a>
            </div>

            <section class="py-3 py-md-5 py-xl-10 subscribe-newsletter">
                <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="display-4 mb-4 mb-md-5 mb-xxl-6 text-center">Sign up to our newsletter and never miss a thing.</h2>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7">
                    <form class="row gy-3 gy-lg-0 gx-lg-2 justify-content-center">
                        <div class="col-12 col-lg-8">
                        <label for="email-newsletter-component" class="visually-hidden">Email Address</label>
                        <input type="email" class="form-control bsb-form-control-3xl" id="email-newsletter-component" value="" placeholder="Email Address" aria-label="email-newsletter-component" aria-describedby="email-newsletter-help" required>
                        <div id="email-newsletter-help" class="form-text text-start text-lg-start">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="col-12 col-lg-3 text-center text-lg-start">
                        <button type="submit" id="subscribe-btn" class="btn btn-primary bsb-btn-3xl">Subscribe</button>
                        </div>
                    </form>
                    </div>
                </div>
                </div>
            </section>

            <section id="socials" class="container">
                <h2 class="hidden-heading">Socials</h2>
                <div class="row social-networks">
                    <ul class="align-items-center">
                        <li class="col-4">
                            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li class="col-4">
                            <a href="https://www.twitter.com/" target="_blank" rel="noopener"
                                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="col-4">
                            <a href="https://www.instagram.com/caldwell_cosmetics" target="_blank" rel="noopener"
                                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            

                <div id="footer-box" class="container">
                    <h2 class="hidden-heading">Footer</h2>
                    <div class="row align-items-center">
                        <div id="footer-address" class="col-5">
                            <h6>Address</h6>
                            <p>Caldwell Cosmetics</p>
                            <p>Abergele</p>
                            <p>LL22 7AG</p>
                            <p>Wales</p>
                        </div>

                        <div id="footer-directions" class="col-2 align-items-center">
                            <p>
                                <a href="https://www.google.com/maps/place/Caldwell+Cosmetics/@53.2844531,-3.5827278,19.25z/data=!4m6!3m5!1s0x486527aea5d34a3b:0xe971a1dfa0e61a2c!8m2!3d53.2844829!4d-3.5825193!16s%2Fg%2F11ldxxlkc9?hl=en-GB&entry=ttu" 
                                target="_blank" rel="noopener" aria-label="View on Google Maps"><i class="fa-solid fa-location-crosshairs"></i></i></a>
                            </p>
                        </div>

                        <div class="col-3 text-end footer-contact">
                            <p>
                                <i class="fa-solid fa-phone"></i>
                            </p>
                            
                            <p>
                                <i class="fa-solid fa-envelope"></i>
                            </p>
                            <p>
                                <i class="fa-regular fa-calendar-days"></i>
                            </p>
                        </div>

                        <div id="footer-contact-links" class="col-2 text-start footer-contact">
                            <p>
                                <a href="tel:07399098081">07399 098081</a>
                            </p>
                            
                            <p>
                                <a href="mailto:caldwellcosmetics@hotmail.com">Email now!</a>
                            </p>
                            <p>
                                <a href="https://portal.aestheticnursesoftware.com/book-online/8300" id="external-link" target="_blank">Book now!</a>
                            </p>
                        </div>
                    </div>
            </section>
        </div>
    </footer>

    <div id="footer-link-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>By clicking this link, you will be taken to an external site. Are you sure you want to continue?</p>
            <button id="accept">Accept</button>
            <button id="decline">Stay Here</button>
        </div>
    </div>

    <!-- FontAwesome kit for icons -->
    <script src="https://kit.fontawesome.com/62f7b1be0a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>



    <!-- Bootstrap JS Bundle (with Popper.js) -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
