{% extends 'base.html' %}
{% load static %}
{% block title %}Home | Caldwell Cosmetics{% endblock %}

{% block content %}

    <!-- Hero image section -->
    <section class="hero" id="home-hero">
        <div class="container-fluid p-0 position-relative">
            <img src="{% static 'images/home-hero.jpg' %}" class="img-fluid" alt="Image showing x">
            <!-- Transparent tinting -->
            <div class="color-overlay"></div>
                <div class="position-absolute top-50 start-50 translate-middle text-center text-white hero-text-md">
                    <h2 id="home-cover-heading">Caldwell Cosmetics</h2>
                    <h3 id="est-tag">Est.2024</h3>
                    <div class="text-center cover-text">
                        <p>
                            Where natural beauty meets personalised care. 
                            <span class="d-none d-md-block d-lg-block cover-text-md">Join us in celebrating the beauty of simplicity, promoting wellness, and 
                            discovering the best version of yourself.</span>
                        </p>
                    </div>
                </div>
        </div>
    </section>

    <!-- Scrolling Text Bar -->

    <div id="scroll-container">
        <div id="scroll-text">IPL Hair Reduction | Skin Rejuvenation | Platelet Rich Plasma (PRP) | Facials | Hair Rejuvenation | illumiFacial® | Acne Treatments | Facial Veins or Pigment Removal | Consultations | </div>
    </div>

    <main class="container laptop-width">

    <!-- About Us Content -->
     
    <section class="about">
        <div class="row">
            <div class="col-12">
                <h2 class="text-uppercase">About Us</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    Caldwell Cosmetics offers carefully curated treatments to enhance inner beauty and promote a positive mindset. 
                    Led by <a href="#" target="_blank">Rabia</a>, a Nurse with over six years experience working within the NHS, our mission is to redefine beauty through holistic well-being, accentuating individual uniqueness. 
                    <br>
                    <br>
                    Specializing in skin treatments tailored to your radiance, we provide a serene environment adorned in calming hues, inviting you on a transformative journey 
                    of self-love and confidence. 
                    <br>
                    <br>
                    At Caldwell Cosmetics, we blend expertise with personalized care to nurture both external beauty and overall well-being, celebrating simplicity and helping you discover your best self. 
                    <br>
                    <br>
                    As we continue to grow, we are excited to announce that we will be expanding our range of treatments to offer you even more options for enhancing your natural beauty and well-being. 
                    Our future plans include introducing a variety of new treatments designed to address different aspects of skincare, wellness, and self-care.
                </p>
                <hr class="small-hr">
            </div>
        </div>
    </section>

    <!-- Maps section -->
        
    <section id="maps" class="container">
        <h2 class="hidden-heading">Maps</h2>
        <div class="row">
            <div class="col-12">
                <h2>Find Us</h2>
                <hr>
            </div>
            <div class="col-12">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="300" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2385.282025244525!2d-3.585094223272199!3d53.28448287227133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486527aea5d34a3b%3A0xe971a1dfa0e61a2c!2sCaldwell%20Cosmetics!5e0!3m2!1sen!2suk!4v1725047808673!5m2!1sen!2suk"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="treatments" class="container">
        <h2 class="hidden-heading">Treatments</h2>
        <div id="about-treatments">

            <!-- Single column layout for small screens -->

            <div class="sm-treatments">
                <div class="row d-md-none d-lg-none">
                    <div class="col-md-3 treatment-item position-relative">
                        <a href="#" class="stretched-link">
                            <img src="{% static 'images/skin-rejuvenation.jpg' %}" alt="illumiFacial Treatment Image" class="img-fluid">
                            <div class="bottom-overlay">
                            <h6>illumiFacial®</h6>
                            </div>
                        </a>
                        <hr>
                    </div>
                    <div class="col-md-3 treatment-item position-relative">
                        <a href="#" class="stretched-link">
                            <img src="{% static 'images/lynton-hair-removal-shin.jpg' %}"lynton-hair-removal-shin.jpg" alt="Laser Hair Removal Image" class="img-fluid">
                            <div class="bottom-overlay">
                                <h6>IPL Hair Reduction</h6>
                            </div>
                        </a>
                        <hr>
                    </div>
                    <div class="col-md-3 treatment-item position-relative">
                        <a href="#" class="stretched-link">
                            <img src="{% static 'images/prp-treatment.jpg' %}" alt="Platelet Rich Plasma Treatment Image" class="img-fluid">
                            <div class="bottom-overlay">
                                <h6>Platelet Rich Plasma (PRP) Treatments</h6>
                            </div>
                        </a>
                        <hr>
                    </div>
                    <div class="col-md-3 treatment-item position-relative">
                        <a href="#" class="stretched-link">
                            <img src="{% static 'images/cleanse-treatment.png' %}" alt="Cleanse and Facial Treatments Image" class="img-fluid">
                            <div class="bottom-overlay">
                                <h6>Cleanse & Facials</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!--------------------------------------------------------------------------------------------------------------------------------------------------->

            <!-- Image with text to the right for medium screens -->

            <!--------------------------------------------------------------------------------------------------------------------------------------------------->

            <!-- Larger image with text to the right for larger screens -->

        </div>
    </section>

        <!-- Quotes Content -->
        <section id="quotes">
            <h2>Reviews</h2>
            <div>
                <!-- Review content goes here -->
            </div>
        </section>
    </main>

{% endblock %}
