{% extends 'base.html' %}
{% load static %}
{% block title %}Home | Caldwell Cosmetics{% endblock %}

    {% block hero %}
    <!-- Hero image section -->
    <section class="hero" id="home-hero">
        <div class="container-fluid p-0 position-relative">
            <img src="{% static 'images/treatments-hero.jpg' %}" class="img-fluid" alt="Image showing x">
            <!-- Transparent tinting -->
            <div class="color-overlay"></div>
                <div class="position-absolute top-50 start-50 translate-middle text-center text-white hero-text-md">
                    <h2 id="treatments-cover-heading">Treatments</h2>
                    <div class="text-center cover-text">
                        <p>
                            Discover your best self today
                            <span class="d-none d-md-block d-lg-block cover-text-md">Explore our range of expert services, designed to enhance your natural beauty and nurture your well-being.</span>
                        </p>
                    </div>
                </div>
        </div>
    </section>

    <!-- Scrolling Text Bar -->

    <div id="scroll-container">
        <div id="scroll-text">IPL Hair Reduction | Skin Rejuvenation | Platelet Rich Plasma (PRP) | Anti Wrinkle Injections | Hair Rejuvenation | illumiFacial® | Acne Treatments | Facial Veins or Pigment Removal | Consultations | </div>
    </div>
    {% endblock %}

    {% block content %}
    <main class="container">
        <section>
            <header>
                <div>
                    <h2 class="text-center italiana-bold">Our Treatments</h1>
                </div>
            </header>
            <div class="container treatments">
                <!-- Treatment 1 -->
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="treatments__card-wrapper"></div>
                            <a href="" class="treatments__card">
                                <div class="treatments__card-body d-flex flex-column justify-content-end">
                                    <h2 class="treatments__card-heading">illumiFacial®</h2>
                                    <div class="treatments__card-wrapper--button">
                                        <span class="treatments__card-btn"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Treatment 2 -->
                <a href="" class="treatments-card" data-slide-index></a>
                    <div class="treatments-card-wrapper" style="background-image: url()">
                        <div class="treatments-card-title">
                            <header class="treatments-card-header">
                                <h2 class="treatments-card-heading">IPL Hair Removal</h2>
                                <div class="treatments-card-btn-wrapper">
                                    <span class="treatments-card-btn"></span>
                                </div>
                            </header>
                        </div>
                    </div>
                </a>
                <a href="" class="treatments-card" data-slide-index></a>
                    <div class="treatments-card-wrapper" style="background-image: url()">
                        <div class="treatments-card-title">
                            <header class="treatments-card-header">
                                <h2 class="treatments-card-heading">Platelet Rich Plasma (PRP)</h2>
                                <div class="treatments-card-btn-wrapper">
                                    <span class="treatments-card-btn"></span>
                                </div>
                            </header>
                        </div>
                    </div>
                </a>
                <a href="" class="treatments-card" data-slide-index></a>
                    <div class="treatments-card-wrapper" style="background-image: url()">
                        <div class="treatments-card-title">
                            <header class="treatments-card-header">
                                <h2 class="treatments-card-heading">Anti-Wrinkle treatments</h2>
                                <div class="treatments-card-btn-wrapper">
                                    <span class="treatments-card-btn"></span>
                                </div>
                            </header>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>

{% endblock %}
