{% extends 'base.html' %}
{% load static %}
{% block title %}Treatments | Caldwell Cosmetics{% endblock %}

    {% block hero %}
    <!-- Hero image section -->
    <section class="hero" id="home-hero">
        <div class="container-fluid p-0 position-relative">
            <img src="{% static 'images/treatments-hero.jpg' %}" class="img-fluid" alt="Image showing x">
            <!-- Transparent tinting -->
            <div class="color-overlay"></div>
                <div class="position-absolute top-50 start-50 translate-middle text-center text-white hero-text-md">
                    <h2 id="treatments-cover-heading">Treatments</h2>
                    <div class="text-center cover-text">
                        <p>
                            Discover your best self today
                            <span class="d-none d-md-block d-lg-block cover-text-md">Explore our range of expert services, designed to enhance your natural beauty and nurture your well-being.</span>
                        </p>
                    </div>
                </div>
        </div>
    </section>

    <!-- Scrolling Text Bar -->

    <div id="scroll-container">
        <div id="scroll-text">IPL Hair Reduction | Skin Rejuvenation | Platelet Rich Plasma (PRP) | Anti Wrinkle Injections | Hair Rejuvenation | illumiFacial® | Acne Treatments | Facial Veins or Pigment Removal | Consultations | </div>
    </div>
    {% endblock %}

    {% block content %}
    <main class="container">
        <section class="treatments">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-uppercase italiana-bold">Our Treatments</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        At Caldwell Cosmetics, we believe in enhancing your natural beauty through cutting-edge treatments that promote well-being and self-confidence. Our approach 
                        focuses on helping you achieve radiant, healthy skin and boosting your inner vitality. In a world where beauty standards are constantly evolving, our goal is 
                        to celebrate what makes you uniquely beautiful, while offering treatments that nurture both your appearance and overall health.
                        <br>
                        <br>
                        Whether you're looking to rejuvenate your skin or reduce unwanted hair, our carefully curated treatments are designed with your needs in mind. Each procedure 
                        is performed with precision and care, using the latest technology to deliver visible results. We are proud to offer advanced solutions that enhance your beauty 
                        naturally, allowing you to feel empowered and confident in your own skin.
                        <br>
                        <br>
                        From revitalizing skin treatments to advanced hair removal and anti-aging solutions, our offerings are tailored to help you look and feel your best. We warmly 
                        invite you to explore our range of treatments and discover how we can support your journey toward holistic beauty and wellness.
                        <br>
                        <br>
                    </p>
                    <hr class="small-hr">
                </div>
            </div>
        </section>
        <section class="gallery">
            <div class="container">
                <div class="row">
                    {% for treatment in treatments %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4 treatments__card">
                        <a href="{% url 'treatment_card_details' treatment.slug %}" class="treatments__link">
                            <div class="treatments__card-wrapper d-flex flex-column justify-content-end" style="background-image: url({{ treatment.image.url }});">
                                <div class="treatments__card-body">
                                    <h2 class="treatments__card-heading italiana-regular">{{ treatment.name }}</h2>
                                    <div class="treatments__card-wrapper--button">
                                        <span class="treatments__card-btn cormorant">Learn More</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock %}
